<!DOCTYPE html>
<html>

<head>
    <title> 10-minute Delivery Service </title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>

    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-3">

            </div>

            <div class="col-md-6 main">

                <form action="/sign_up" method="post">

                    <h1> National Phonebook Directory</h1>
                    <h1 style="font-size: 20px;"> Enter Details to get inserted in India's National Database </h1>

                    <input class="box" type="text" name="name" id="name" placeholder="Name" required /><br>

                    <input class="box" type="email" name="email" id="email" placeholder="E-Mail " required /><br>

                    <input class="box" type="text" name="address" id="address" placeholder="Address" required /><br>

                    <input class="box" type="text" name="phone" id="phone" placeholder="Phone Number " required /><br>

                    <input class="box" type="text" name="pincode" id="pincode" placeholder="pincode" required /><br>

                    <br>
                    <input type="submit" id="submitDetails" name="submitDetails" value="Submit" /><br>

                </form>

            </div>


            <div class="col-md-3">
            </div>

        </div>
    </div>
</body>

</html>